body{
      background-color:paleturquoise;
      border:2px,solid,blue;
      font-size:25px;
}  
div {
      margin:25%;
}   
.live{
       text-align:center;
}
a{ 
       text-decoration:none;
      color :white;
}
#code{
      background-color:#FF8348;
      text-align:center;
      margin:5%;
      padding:15%;
      box-shadow:0 0 25px #7122fa; 
      border-radius:10px 0 10px 0;
}
     
.a{
      background-color:#ff2181;
      text-align:center;
      margin:5%;
      padding:15%;
      box-shadow:0 0 25px #011ffd;
      border-radius:10px 0 10px 0;
}
      
.b{
      background-color:#ff2181;
      text-align:center;
      margin:5%;
      padding:15%;
      box-shadow:0 0 25px #011ffd;
      border-radius:10px 0 10px 0;
}   
.c{
      background-color:#ff2181;
      text-align:center;
      color:black;
      margin:5%;
      padding:15%;
      box-shadow:0 0 25px #011ffd;
      border-radius:10px 0 10px 0;
    } 
.d{
      background-color:#ff2181;
      text-align:center;
      margin:5%;
      padding:15%;
      text-align:center;
      box-shadow:0 0 25px #011ffd;
      border-radius:10px 0 10px 0;
    }
